lists

In [ ]:
#1) create a list of 5 fruits
list_1=["banana","apple","orange","mango","papaya"]

 accessing of the second and fourth element

In [ ]:
print(list_1[1]) #

apple

In [ ]:
print(list_1[4])

papaya

2)modify of list

In [ ]:
list_1.append("kiwi")

In [ ]:
list_1 # adding of new fruit to the list by using append function

['banana', 'apple', 'orange', 'mango', 'papaya', 'kiwi']

In [ ]:
list_1.insert(3,"strawberry")

In [ ]:
list_1 # adding the strawberry fruit in list at 3rd place by using insert function

['banana', 'apple', 'orange', 'strawberry', 'mango', 'papaya', 'kiwi']

In [ ]:
list_1.pop() # removing the last fruit in the list by using pop function

'kiwi'

In [ ]:
list_1

['banana', 'apple', 'orange', 'strawberry', 'mango', 'papaya']

3) list methods

In [5]:
list_2=['a','b','f','g','t','c','e','h']
list_2.sort()

In [4]:
list_2  # sorting of alphabetically order

['a', 'b', 'c', 'e', 'f', 'g', 'h', 't']

In [6]:
list_2.reverse() #reversing of list

In [7]:
list_2

['t', 'h', 'g', 'f', 'e', 'c', 'b', 'a']

In [1]:

list_3=["banana","apple","orange","mango","papaya"]
list_3.count("apple")       # counting the apple in the list

1

In [2]:
list_3

['banana', 'apple', 'orange', 'mango', 'papaya']

part_2 Tuples

In [27]:
#1) create and access elements
tuple_1=(10,20,30,40,50)

In [28]:
tuple_1

(10, 20, 30, 40, 50)

In [29]:
print(tuple_1[0])

10

In [30]:
print(tuple_1[4])

50

In [16]:
tuple_2=("a","b","c","d")

In [23]:
tuple_2  #by using alphabets to print 1st and 2nd

('a', 'b', 'c', 'd')

In [21]:
print(tuple_2[0])

a

In [22]:
print(tuple_2[3])

d

2) immutable nature of tuples

In [31]:
tuple_2[1]=25

TypeError: 'tuple' object does not support item assignment

From the above error it shows tuple is immutable,which means the content inside tuple we cant change
--if we change it give the 'TypeError' this indicate that 'tuple' object does not support item assingment

3)operation in tuples
--. use tuple unpacking to assign the vaues of the tuples to 5 different variables. print each variables

In [32]:
tuple_3=(1,2,3,4,5)
a,b,c,d,e=tuple_3
print("a=",a)
print("b=",b)
print("c=",c)
print("d=",d)
print("e=",e)

a= 1
b= 2
c= 3
d= 4
e= 5

part_3: Dictionaries

1) create and acess elements

In [34]:
dict_1={"name":"john","age":"20","subjects":["math","physics","chemistry"]}  #creating the dictionariess

In [39]:
dict_1

{'name': 'john', 'age': '20', 'subjects': ['math', 'physics', 'chemistry']}

In [41]:
 dict_1.get("age")  or  dict_1["age"]   # acessing the age of person

'20'

2)  modify the dictionary

In [45]:
dict_1["grade"]="a"  # adding key value inside the dictionaries

In [43]:
dict_1

{'name': 'john',
 'age': '20',
 'subjects': ['math', 'physics', 'chemistry'],
 'grade': 'a'}

In [48]:
dict_1["age"]=21  # changeing the age frm 20 to 21

In [50]:
dict_1

{'name': 'john',
 'age': 21,
 'subjects': ['math', 'physics', 'chemistry'],
 'grade': 'a'}

In [57]:
dict_1.pop("subjects")  # removing the subject frm the dict_1 using pop function

['math', 'physics', 'chemistry']

In [58]:
dict_1

{'name': 'john', 'age': 21, 'grade': 'a'}

3) dictionary methods

In [60]:
dict_1.keys() # printing the all keys frm dict_1

dict_keys(['name', 'age', 'grade'])

In [61]:
dict_1.values()  # printing the all values frm dict_1

dict_values(['john', 21, 'a'])